.swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.swiper-slide {
  text-align: #{$left};
  font-size: 18px;
  min-height: 100% !important;
  height: auto !important;

  // & > div {
  //   min-height: 100% !important;
  //   height: auto !important;
  // }
}

// HEADER SWIPER
.header__swiper {
  &.swiper-container {
    // height: 320px;
    // margin-top: 50px;
    // margin-bottom: 100px;
    padding-bottom: 0;
    padding-top: 0;

    .swiper-pagination {
      #{$right}: 50%;
      #{$left}: unset;
      display: flex;
      align-items: center;
      bottom: 84px;
      top: unset;

      & > span {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: $color-light-grey;
        margin: 0 3px;
        &.swiper-pagination-bullet-active {
          background-color: $primary-color;
        }
      }

      @include media-breakpoint-down(sm) {
        bottom: 100px;
        top: unset;
        display: flex;
        & > span {
          height: 18px;
          width: 18px;
          margin-left: 15px;
        }
      }
    }

    .swiper-navigation {
      position: absolute;
      top: 50%;
      left: 0;
      width: 150px;
      justify-content: center;
      transform: rotate(90deg);
      z-index: 999;
      height: 40px;
      .swiper-button-next,
      .swiper-button-prev {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: $color-white;
        box-shadow: $main-box-shadow;
        cursor: pointer;
        opacity: 1;
    
        &::after {
          font-size: rem(18);
          color: $primary-color;
        }
      }
    }
  }
  .swiper-slide {
    position: relative;
    .main-pic{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .overlay{
      position: absolute;
      height: 100%;
      width: 100%;
      clip-path: image;
    }

    .swiper-image-container {
      position: relative;
      height: 100%;
      width: 100%;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        // background-color: rgba(0, 0, 0, 0.4);
      }
    }

    height: 100% !important;
  }
}

[class$="__controls"] {
  position: relative;
  // height: 50px;
  position: absolute;
  top: 50%;
  #{$right}: 50%;
  transform: translate(-50%, -50%);
  width: 105%;
  display: flex;
  align-items: center;
  z-index: 99;

  .swiper-button-next,
  .swiper-button-prev {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $color-white;
    box-shadow: $main-box-shadow;
    cursor: pointer;
    opacity: 1;

    &::after {
      font-size: rem(18);
      color: $primary-color;
    }
  }

  // .swiper-button-disabled {
  //   background-color: $color-white;
  //   opacity: 1;

  //   &::after {
  //     color: $primary-color;
  //   }
  // }
}


.swiper-image-container{
  position: absolute !important;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100% !important;
  .main-pic{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    top:0;
    left: 0;
    background-color: #fff;
    opacity: 0.6;
  }
  .overlay{
    top:0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    mix-blend-mode: screen;
    background-color: #fff;
    object-fit: unset ;
    @include media-breakpoint-down(sm) {
               
      object-fit: cover;
    }
  }
}