.swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.swiper-slide {
  text-align: #{$left};
  font-size: 18px;
  min-height: 100% !important;
  height: auto !important;

  // & > div {
  //   min-height: 100% !important;
  //   height: auto !important;
  // }
}

// HEADER SWIPER
.header__swiper {
  &.swiper-container {
    // height: 320px;
    // margin-top: 50px;
    // margin-bottom: 100px;
    padding-bottom: 0;
    padding-top: 0;

    .swiper-pagination {
      #{$right}: 50%;
      #{$left}: unset;
      display: flex;
      align-items: center;
      bottom: 250px;
      top: unset;

      & > span {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: $color-light-grey;
        margin: 0 3px;
        &.swiper-pagination-bullet-active {
          background-color: $primary-color;
        }
      }
      @include media-breakpoint-down(md) {
        bottom: 129px;
        top: unset;
        display: flex;
        & > span {
          height: 14px;
          width: 14px;
          margin-#{$right}: 15px;
        }
      }
      @include media-breakpoint-down(sm) {
        bottom: 129px;
        top: unset;
        display: flex;
        & > span {
          height: 14px;
          width: 14px;
          margin-#{$right}: 15px;
        }
      }
    }

    .swiper-navigation {
      position: absolute;
      top: 26%;
      #{$right}: 0;
      width: 150px;
      justify-content: center;
      transform: rotate(90deg);
      z-index: 999;
      height: 40px;
      @include media-breakpoint-down(sm) {
        display: none;
        // width: 78px;
      }
      .swiper-button-next,
      .swiper-button-prev {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: $color-white;
        box-shadow: $main-box-shadow;
        cursor: pointer;
        opacity: 1;
        @include media-breakpoint-down(sm) {
          width: 25px;
          height: 25px;
        }

        &::after {
          font-size: rem(18);
          color: $primary-color;
        }
      }
    }
  }
  .swiper-slide {
    position: relative;
    // &::after {
    //   content: '';
    //   background-image: url(../img/big-curve.png);
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   top: 68.9%;
    //   @include media-breakpoint-down(lg) {
    //     content: '';
    //     #{$right}: -40%;
    //   }
    //   @include media-breakpoint-down(sm) {
    //     top: 65.4%;
    //     #{$right}: -124%;
    //   }
    // }
    .main-pic {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      clip-path: image;
    }

    .swiper-image-container {
      // position: relative;
      height: 100%;
      width: 100%;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        // background-color: rgba(0, 0, 0, 0.4);
      }
    }

    height: 100% !important;
  }
}

[class$='__controls'] {
  position: relative;
  // height: 50px;
  position: absolute;
  top: 50%;
  #{$right}: 50%;
  transform: translate(-50%, -50%);
  width: 105%;
  display: flex;
  align-items: center;
  z-index: 99;

  .swiper-button-next,
  .swiper-button-prev {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $color-white;
    box-shadow: $main-box-shadow;
    cursor: pointer;
    opacity: 1;

    &::after {
      font-size: rem(18);
      color: $primary-color;
    }
  }

  // .swiper-button-disabled {
  //   background-color: $color-white;
  //   opacity: 1;

  //   &::after {
  //     color: $primary-color;
  //   }
  // }
}

.swiper-image-container {
  // position: absolute !important;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 89% !important;

  .color-curve {
    position: absolute;
    left: 20%;
    bottom: 4%;
    z-index: 999;
    width: 240px;
    // @include media-breakpoint-down(md) {
    //   top: 68%;
    //   position: absolute;
    //   bottom: 0%;
    //   left: 132px;
    //   z-index: 999;
    // }
    // @include media-breakpoint-down(sm) {
    //   top: 73%;
    //   position: absolute;
    //   bottom: 0%;
    //   left: 3px;
    //   z-index: 999;
    //   width: 98px;
    // }
  }
  .color-curve2 {
    position: absolute;
    /* bottom: 5%; */
    #{$right}: 241px;
    top: 71%;
    z-index: 999;
    width: 152px;
    @include media-breakpoint-down(sm) {
      position: absolute;
      bottom: 0%;
      #{$right}: 41px;
      z-index: 999;
      width: 116px;
    }
  }
  .main-pic {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    top: 0;
    #{$right}: 0;
    background-color: #fff;
    // opacity: 0.6;
    border-bottom: 30px solid #ce7b2c;
  }
  .overlay {
    top: 0;
    #{$right}: 0;
    width: 100% !important;
    height: 100% !important;
    mix-blend-mode: screen;
    background-color: #fff;

    object-fit: unset;
    @include media-breakpoint-down(sm) {
      object-fit: cover;
    }
  }
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  padding-bottom: 40px !important;

  * div,
  & div:first-child {
    height: 100% !important;
  }
}
