// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------@import url('fortawesome/fontawesome-free-regular');

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap');
@font-face {
    font-family: Almarai;
    src: url("../../../assets/fonts/Almarai-Regular.ttf");
    font-display: block;
}

@font-face {
    font-family: Almarai-bold;
    src: url("../../../assets/fonts/Almarai-Bold.ttf");
    font-display: block;
}
 
@font-face {
    font-family: Almarai-extra-bold;
    src: url("../../../assets/fonts/Almarai-ExtraBold.ttf");
    font-display: block;
}

@font-face {
    font-family: Almarai-light;
    src: url("../../../assets/fonts/Almarai-Light.ttf");
    font-display: block;
}
