.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  // flex-direction: row-reverse;
  // justify-content: flex-end;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: transparent;
  border-radius: 0.25rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: right;
  padding: 0rem 1rem !important;

  color: #ABABAB;
  font-family: $icomoon-font-family;
  content: "\e908";
}
.badge {
  background-color: $green-bg;
  color: $green;
  padding: 1.25em 1.4em;
}
.badge2 {
  background-color: rgb(251 76 76 / 10%);
  color: rgb(251 76 76 / 1);
  padding: 0.7em 1.4em;
}
.data-tabs2 {
  .program-box {
    border: 1px solid rgba(0, 0, 0, 0.125);
    direction: rtl;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

    color: #615f5c;
    @include media-breakpoint-down(md) {
      position: relative;
    }

    .prog-img {
      border-radius: 30px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .colored {
      color: $primary-color;
    }
    p {
      img {
        display: inline;
        padding-top: 3px;
        float: right;
      }
    }
    .desc {
      position: relative;
      @include media-breakpoint-down(md) {
        padding: 15px;
        position: unset;
      }
      .floated-sign {
        color: #fb4c4c;
        background-color: rgba(251, 76, 76, 0.1);
        left: 0;
        top: 10%;
        border-radius: 0px 10px 10px 0px;
        position: absolute;
        padding: 10px;
        font-weight: 600;
        @include media-breakpoint-down(md) {
          left: 14px;
          top: -424px;
          color: #fff;
          background-color: rgba(251, 76, 76, 1);
        }
        @include media-breakpoint-down(sm) {
          left: 14px;
          top: -219px;
        }
        .red-bold {
          font-size: 20px;
          font-weight: bold;
        }
      }
      .red-text {
        color: #fb4c4c;
        font-size: 12px;
      }
      .utl-btn-outline-grey {
        background-color: #eeeeee;
        color: #ababab;
      }
      .margino.d-flex {
        margin-left: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .d-flex.upper {
        justify-content: center;
        align-items: center;
        img {
          margin-right: 5px;
        }
      }

      .heading-3 {
        font-weight: 600;
      }
      img {
        margin-left: 5px;
        @include media-breakpoint-down(sm) {
          width: 25px;
          height: 25px;
        }
      }
      padding: 20px 0px 20px 20px;
      @include media-breakpoint-down(sm) {
        padding: 20px;
      }
    }
  }
  .list-group-item-action {
    width: unset;
  }
  .list-group {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
    .list-group-item.active {
      padding: 0.75rem 1.25rem;
      z-index: 2;
      color: #fff;
      background-color: $primary-color;
      border-color: $primary-color;
      border-radius: 21px;
      text-align: center;
    }
    .list-group-item + .list-group-item {
      border-top-width: 1px;
    }
    .list-group-item {
      transition: all 0.3s;
      padding: 0.75rem 1.25rem;
      z-index: 2;
      border-radius: 21px;
      text-align: center;
      margin: 10px;
      @include media-breakpoint-down(sm) {
        margin: 3px;
      }
    }
    .list-group-item:hover {
      background-color: $primary-color;
      border-color: $primary-color;
      color: #fff;
    }
  }
  .new-flex {
    justify-content: space-between;
    align-items: center;
    display: flex;
    @include media-breakpoint-down(sm) {
      align-items: flex-start;
      flex-direction: column;
    }
    .special-box {
      background-color: #f9f9f9;
      border-radius: 10px;
      padding: 20px;
      margin-left: 5px;
    }
    .special-box.d-flex {
      @include media-breakpoint-down(sm) {
        flex-direction: row;
        align-items: center;
      }
    }
    .d-flex {
      justify-content: center;
      align-items: center;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        justify-content: right;
        align-items: flex-start;
      }
    }
    .light-text {
      color: #ababab;
    }
  }
//   .page-link {
//     transition: all 0.3s;
//     position: relative;
//     display: block;
//     padding: 6px 7px;
//     margin-left: -1px;
//     line-height: 1.25;
//     color: #ababab;
//     background-color: #fff;
//     border: 1px solid #ababab;
//     border-radius: 200px;
//     margin: 10px;
//     width: 30px;
//     height: 30px;
//     &:focus {
//       z-index: 3;
//       outline: 0;
//       box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
//       background-color: #ce7b2c !important;
//     }
//   }
//   .page-link:hover {
//     background-color: $primary-color !important;
//     color: #fff !important;
//     border: 1px solid $primary-color !important;
//   }
//   .page-item:first-child .page-link {
//     margin-left: unset;
//     border-top-left-radius: 200px;
//     border-bottom-left-radius: 200px;
//   }
//   .page-item:last-child .page-link {
//     border-top-right-radius: 200px;
//     border-bottom-right-radius: 200px;
//   }
//   .pagination {
//     display: flex;
//     padding-left: 0;
//     list-style: none;
//     border-radius: 0.25rem;
//     justify-content: center;
//   }
  .margino {
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }
}
.big-tabs-style {
  .list-group {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
    .list-group-item {
      @include media-breakpoint-down(md) {
        margin: 3px;
      }
    }
  }
}

.d-flex.upper2 {
  align-items: center;
  @include media-breakpoint-down(sm) {
    flex-direction: row !important;
  }
}

.program-box.differ {
  transition: all 0.3s;
  box-shadow: none;
  border: none;
  &:hover {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    .heading-1 {
      color: $primary-color;
    }
  }
  .heading-1 {
    transition: all 0.3s;
    font-size: 34px;
    color: #1c1b19;
    font-family: Almarai-bold;
    margin-bottom: 5px;
    line-height: 1.5;
  }
  .auther {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
}
.first-bg {
  background-image: url("../img/small-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -154px;
  padding-bottom: 100px;
  .about-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .margin-modify {
    padding-right: 16%;
  }
  .d-flex.special-box {
    align-items: center;
    @include media-breakpoint-down(sm) {
      flex-direction: row !important;
    }
    img {
      border-radius: 30px;
      padding: 20px;
      margin-left: 20px;
      background-color: #fff;
    }
  }
}
.data-tabs.no-margin {
  margin-top: 0;
}
.special {
  width: 90%;
}
.services {
  margin-top: 60px;
  .service-box {
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    .desc {
      padding: 20px;
      text-align: right !important;
    }
    .img-square {
      width: 100%;
      object-fit: cover;
      padding: 30px;
      border-radius: 30px;
    }
    .color1 {
      background-color: #c942a6;
    }
    .color2 {
      background-color: #00739e;
    }
    .color3 {
      background-color: $primary-color;
    }
    .color4 {
      background-color: $green;
    }
  }
}
.right-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}
.left-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 20px 20px 0px;
  
}

.d-flex.text {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .special {
    width: 80%;
  }
}
.reverso {
  @include media-breakpoint-down(md) {
    flex-direction: column-reverse !important;
  }
}
.margin-res {
  @include media-breakpoint-down(md) {
    margin-top: 30px;
  }
}
.margin-res2 {
  @include media-breakpoint-down(md) {
    margin-top: 30px;
  }
}
.reverso2 {
  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse !important;
  }
}
// .page-item.active .page-link {
//   box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
//   background-color: #ce7b2c !important;
//   border-color: $primary-color;
// }

.simple-pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
  // direction: ltr;
  list-style: none;
  padding: 0;
  margin: 0;
}
.light-theme {
  span {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
  }
}
.light-theme .active {
  padding: 4px 4px !important;
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  border-color: #444;
  box-shadow: 0 1px 0 rgb(255 255 255), 0 0 2px rgb(0 0 0 / 30%) inset;
  cursor: default;
  margin-left: 8px;
}

// .page-link.next {
//   background-color: #fff !important;
//   font-size: 0;
//   &::before {
//     content: "";
//     background-image: url(../img/left-grey.png);
//     background-repeat: no-repeat;
//     background-size: 8px;
//     display: block;
//     width: 30px;
//     height: 30px;
//     position: absolute;
//     left: 8px;
//   }
// }
.ellipse.clickable {
  border-color: #ababab !important;
  border: 1px solid #ababab !important;
  width: 32px;
  height: 32px;
  border-radius: 50% !important;
  margin-left: 5px;
}
.current.prev {
  margin-left: 15px;
  background-color: #fff !important;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: #ababab !important;
  border: 1px solid #ccc !important;
  font-size: 0;
  position: relative;
  &::before {
    content: "";
    background-image: url(../img/right-grey.png);
    background-repeat: no-repeat;
    background-size: 8px;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 11px;
    top: 8px;
  }
}
// .page-link {
//   background: none !important;
// }

.simple-pagination {
  display: block;
  margin-top: 40px;
  overflow: hidden;
  padding: 28px 5px 5px 0 !important;
  margin: 0;
}
.little{
  margin-left: 6px;
}
select{
  direction: rtl;
  text-align: right !important;
}
.nice-select {
  
  /* box-sizing: border-box; */
 
  text-align: right !important;
  
  height: 42px !important;
  padding: .375rem .75rem !important;
  
   position: relative;
   flex: 1 1 auto;
   width: 1%;
   min-width: 0;
   margin-bottom: 0;
   line-height: 29px !important;
   font-size: 1rem !important;

  
}
.nice-select:after {
  left:0 !important;
  right: unset !important;
}
.nice-select .list {
  width: 100%;
}
.success-section{
  margin-top: 60px;
  margin-bottom: 60px;
}