@charset 'UTF-8';

// ABSTRACT
@import "abstracts/variables.scss", "abstracts/functions", "abstracts/mixins",
  "abstracts/custom";

// BASE
@import "base/rest", "base/base", "base/fonts", "base/typography",
  "icon/style.scss";

// COMPONENT
@import "components/carousel", "components/social-links", "components/scroll",
  "components/dropdown", "components/spinner", "components/mobile-menu",
  "components/form", "components/breadcrumb", "components/pagination",
  "components/card";

  // HELPERS
  @import "helper/helpers";

// PAGES
@import "pages/home","pages/program","pages/list-design";

// LAYOUT
@import "layout/header", "layout/footer";
